/* public/css/stylesheet.css */

.title {
    font-family: "Arial", sans-serif;
    margin: 15px 0px;
    box-shadow: 0px 0px 5px rgb(151 146 146 / 30%); /* Sombreamento ao redor */
    background-color: #343a4000;
    color: #57585a;
    border-radius: 5px;
    font-size: 32px;
    font-weight: bold;
}

/* Estilos para o formulário de login */
.form-label {
    font-weight: bold;
}

.input-group {
    margin-bottom: 1rem;
}

.input-group-text {
    background-color: #f8f9fa;
}

/* Ícones */
.bi {
    font-size: 1.25rem;
    vertical-align: middle;
}

/* Botões */
.btn-primary {
    background-color: #174b81;
    border-color: #276eb9;
}

.float-right {
    float: right !important;
    margin-left: 5px;
}

.margin-bottom {
    margin-bottom: 100px;
}

.bg-primary {
    background-color: #2a3033 !important;
}

.btn-primary:hover {
    background-color: #132f50;
    border-color: #0062cc;
}

.btn-link {
    color: #007bff;
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: underline;
}

/* Estilos para o card */
.card {
    border: none;
}

.card-header {
    background: -webkit-linear-gradient(left, #dbdbdb, #c9c7c7);
    color: rgb(65, 63, 63);
    border-top: 1px solid #cacacb;
    border-right: 1px solid #cacacb;
    border-left: 1px solid #cacacb;
}

.card-body {
    padding: 1.25rem;
}

.input-group-text {
    background-color: #f8f9fa;
    border: none;
}

/* Menu */
.navbar-nav.flex-column {
    padding-left: 0;
    list-style: none;
}

.navbar-nav.flex-column .nav-item {
    margin-right: 0;
    margin-bottom: 0.1rem;
}

/* Rodapé */
.footer {
    position: fixed;
    left: 0;
    bottom: 3px;
    width: 100%;
    background: -webkit-linear-gradient(left, #565656, #444444);
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
}
.container {
    max-width: 100%;
}

.container h1 {
    padding: 15px 25px;
    text-align: left;
}

.container-fluid > .row {
    min-height: auto;
    overflow-y: auto;
    padding-right: 0 !important;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 8px;
    margin-right: auto;
    margin-left: auto;
}

.alert-success {
    margin-top: 10px;
}

/* Estilos para a paginação */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a,
.pagination li span {
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

.pagination li.active span {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.pagination li.disabled span,
.pagination li.disabled a {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}

.page-item.active .page-link {
    background-color: #276eb9;
    border-color: #276eb9;
}

/* TABS */
.nav-tabs {
    border-bottom: 1px solid #ffffff;
}

.nav-tabs .nav-item {
    border: none;
}

.nav-item {
    list-style: none;
}

.nav-tabs .nav-link {
    color: #333;
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #5a5a5c !important;
    border: none;
    border-bottom: 3px solid #5a5a5c;
    background-color: transparent;
    font-weight: bold;
}

.tab-content {
    border-top: none;
    border-radius: 0 0 5px 5px;
}

.tab-color {
    color: #77787a !important;
}

/* Tema claro */
.light-theme {
    background-color: #eeeff1;
    color: #4e4d4d;
}

.bg-light {
    background: -webkit-linear-gradient(left, #f1f1f1, #e9e9eb);
    border-bottom: 1px solid #e0dede;
    border-right: 1px solid #e0dede;
}

.navbar-nav .home-link,
.navbar-nav .about-link,
.navbar-nav .contact-link,
.navbar-nav .nav-link,
.navbar-nav .nav-link,
.navbar-light .navbar-brand {
    color: rgb(75, 74, 74);
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(75, 74, 74);
    font-weight: 500;
}

.fa-moon,
.fa-sun {
    color: rgb(97, 94, 94) !important;
}

.selected {
    background-color: rgb(60, 61, 61) !important;
    color: #fff !important;
    border-radius: 5px;
    text-align: center;
}

/* Tema escuro */
.dark-theme {
    color: #ffffff;
    background: -webkit-linear-gradient(left, #2c2c2c, #363636);
}

.dark-theme .bg-light {
    background: -webkit-linear-gradient(left, #414040, #464646);
    border-bottom: 1px solid #4d4c4c;
    border-right: 1px solid #4d4c4c;
}

.dark-theme .navbar-nav .home-link,
.dark-theme .navbar-nav .about-link,
.dark-theme .navbar-nav .contact-link,
.dark-theme .navbar-nav .nav-link,
.dark-theme .navbar-nav .nav-link,
.dark-theme .navbar-light .navbar-brand {
    color: rgb(209, 206, 206);
    font-weight: 500;
}

.dark-theme .navbar-nav .nav-link:hover {
    color: rgb(150, 147, 147) !important;
}

.dark-theme .fa-moon,
.fa-sun {
    color: #ffffff !important;
}

.dark-theme .selected {
    background-color: rgb(60, 61, 61) !important;
    color: #fff !important;
    border-radius: 5px;
    text-align: center;
}

.dark-theme .card-header {
    background: -webkit-linear-gradient(left, #3b3b3b, #464646);
    border-top: 1px solid #4d4c4c;
    border-right: 1px solid #4d4c4c;
    border-left: 1px solid #4d4c4c;
}

.dark-theme .nav-tabs .nav-item.show .nav-link,
.dark-theme .nav-tabs .nav-link.active {
    color: #cbcbce !important;
    border-bottom: 3px solid #cbcbce;
}

.dark-theme .tab-color {
    color: #f6f6f8 !important;
}

.dark-theme .card,
.dark-theme .table,
.dark-theme .title {
    background: -webkit-linear-gradient(left, #272727, #2c2c2c);
    color: #cecccc;
}

.dark-theme .custom-row:nth-child(odd) {
    background-color: #353535;
}

.dark-theme .custom-row:nth-child(even) {
    background-color: #3f3f3f;
}

.dark-theme .table thead th {
    border-bottom: 0px;
}

.dark-theme .btn-primary {
    background-color: #747373;
    border-color: #747373;
    color: #030303;
}

.dark-theme .btn-primary:hover {
    background-color: #1a1919;
    border-color: #1a1919;
    color: #f1f1f1;
}

.dark-theme .btn-danger {
    background-color: #9c2929;
    border-color: #9c2929;
}

.dark-theme .btn-danger:hover {
    background-color: #791616;
    border-color: #791616;
}

.dark-theme .page-item.active .page-link {
    background-color: #353535;
    border-color: #353535;
}

.dark-theme .pagination li a,
.pagination li span {
    color: #353535;
}

#theme-toggle {
    background-color: transparent;
    border: none;
    margin: 0px 10px 0px 0px;
    padding: 0;
    color: #d8dee4;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s;
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
}

#theme-toggle:hover {
    color: #9098a8;
}

.dark-theme .even-row {
    background-color: #292828;
    color: #fff;
}

.dark-theme .odd-row {
    background-color: #3f3f3f;
    color: #fff;
}

.even-row {
    background-color: #fcfcfc;
}

.odd-row {
    background-color: #f5f4f4;
}

.main-item {
    font-weight: bold;
}

table.table {
    border-collapse: collapse;
    border-spacing: 0;
}

.table td,
.table th {
    padding: 0.5rem;
    vertical-align: top;
}
