:root {
    --cor-back1: #7c9fff;
    --cor-back2: #8ba6ff;
}

.footer {
    position: relative;
    background: -webkit-linear-gradient(left, #f8f8f8, #f3f3f3);
    color: #333333;
    text-align: center;
    z-index: 1000;
    margin-top: 10px;
    min-height: 600px;
}

.footer .col {
    border-right: 1px solid #707070;
    padding: 0 20px;
}

.footer .col:last-child {
    border-right: none;
}

.footer h5 {
    color: #272727 !important;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.footer p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

.footer form {
    margin-bottom: 20px;
}

.footer .btn-primary {
    border-radius: 0;
}

.border-right {
    border-right: 1px solid #5a5a5a;
}

.text-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.newsletter {
    border-bottom: 1px solid #e7e7e7;
    background: -webkit-linear-gradient(left, #e2e2e2, #d8d8d8);
    width: 100%;
    color: #333333;
    padding: 10px 0;
    margin-top: 0;
}

.newsletter-title {
    margin-top: 10px;
}

.container {
    max-width: 100%;
}

.container .logo {
    padding: 25px;
}

.container .title {
    text-align: center;
    margin: 20px 0px 40px 0px;
    padding: 20px;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #f7f7f7, #fafafa);
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1), 0 0 0 3px white;
}

.list-price {
    color: #0baf41;
    font-weight: 700;
}

.list-details {
    margin-top: 15px;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    background-color: #f8f9fa;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0;
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.categories {
    border-top: 1px solid #f1f1f1;
    background: -webkit-linear-gradient(left, #eeeeee, #e7e7e7);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card-body-register {
    padding: 25px;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

.product-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    border: none;
    min-height: 500px;
    margin-bottom: 25px;
    padding: 5px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.07);
}

@media (max-width: 1440px) {
    .product-card {
        min-height: 300px;
    }
}

.product-card .card-body {
    padding: 1rem;
    height: 100%;
}

.product-card img {
    width: 90%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}

.product-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.home-banner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 400px;
    max-height: 100%;
}

/* Estilizando os inputs */
.form-control {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f0f0f0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.form-control:focus {
    outline: none;
    background-color: #e7e7e7;
}

.form-control::placeholder {
    color: #999;
}

.btn {
    border-radius: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background: -webkit-linear-gradient(left, #eeeeee, #e7e7e7);
    color: #2c2c2c;
}
.btn-outline-success {
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: #272727;
}
.carousel-control-next,
.carousel-control-prev {
    width: 3%;
}

.menu-categories {
    background: -webkit-linear-gradient(left, #eeeeee, #e7e7e7);
}
.menu-categories .navbar-nav .nav-link {
    color: #333;
}

.menu-categories .nav-item.dropdown .dropdown-menu {
    background: -webkit-linear-gradient(left, #eeeeee, #e7e7e7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}

.menu-categories .dropdown-menu .dropdown-item {
    padding: 10px 20px;
    font-size: 14px;
    color: #333;
    transition: background-color 0.3s;
    cursor: pointer;
}

.menu-categories .dropdown-menu .dropdown-item:hover {
    background-color: #4e4e4e;
}

.menu-categories .navbar-nav .nav-link.dropdown-toggle::after {
    display: none;
}

.menu-categories .nav-item.dropdown:hover .dropdown-menu.menu-categories {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999;
}

.menu-categories .dropdown-menu.menu-categories {
    background: -webkit-linear-gradient(left, #eeeeee, #e7e7e7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 10px 0;
    width: auto;
    display: none;
    position: absolute;
    z-index: 9999;
}

.menu-categories .dropdown-menu.menu-categories .dropdown-item {
    padding: 10px 20px;
    font-size: 14px;
    color: #333;
    transition: background-color 0.3s;
}

.menu-categories .dropdown-menu.menu-categories .dropdown-item:hover {
    background: -webkit-linear-gradient(left, #eeeeee, #e7e7e7);
}

.menu-categories .dropdown-menu.subcategories {
    background: -webkit-linear-gradient(left, #eeeeee, #e7e7e7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 10px 0;
    margin-left: -15px;
    top: 0;
    left: 100%;
}

h1 {
    text-align: left;
}

.product-content,
.register-content {
    padding-left: 10%;
    padding-right: 10%;
}

.account-content {
    padding-left: 10%;
    padding-right: 10%;
}

.description-images .product-image {
    width: 70%;
    height: 70%;
}

.imgs-thumbnail {
    margin-left: 5px;
    cursor: pointer;
}

.description-images .img-thumbnail {
    width: 100px;
    height: 100px;
}

.description-data {
    padding: 30px;
    font-size: 18px;
}

.description-data .stock-options {
    font-size: 15px;
}

.description-data p {
    margin-bottom: 0px;
}

.description-btn {
    margin-top: 20px;
}

.description-btn button {
    padding: 15px;
    margin-right: 5px;
    margin-top: 5px;
}

.description-price {
    color: #0baf41;
    font-size: 3rem;
    margin-bottom: 30px !important;
}

.product-description {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.07);
    padding: 20px;
    margin: 50px 0px 50px 0px;
}

.product-description h2,
.product-description div {
    padding: 10px;
}

.stock-options {
    margin-top: 50px;
}

.stock-options h3 {
    font-size: 1.2rem;
}

.stock-option {
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    width: 70%;
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.1);
}

.option-name {
    font-weight: bold;
}

.stock-label {
    padding: 2px 0px 2px 15px;
}

.sub-options {
    display: none;
    margin: 5px 0px 15px 0px;
    width: 70%;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
}

.sub-option {
    margin-left: 20px;
}

.sub-option label,
.sub-option input[type="radio"] {
    margin-left: 10px;
    cursor: pointer;
}

.stock-options .sub-options {
    display: none;
}

.content-section {
    margin-bottom: 30px;
}
.list-group-item + .list-group-item {
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5);
}
.list-group-item {
    border-radius: 0;
}

.list-group-item.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.list-group-item {
    cursor: pointer;
}

.content-section {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.07);
}

.list-group-item.active {
    background-color: #3c4044;
    color: #fff;
    border-color: #3c4044;
}

.border-none {
    border: none !important;
}

.login {
    padding-bottom: 5%;
}
.login form {
    width: 50%;
}

.my-account {
    padding-left: 7px;
}

.meus-dados-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    margin-top: 30px;
}

.border-bottom {
    border-bottom: 1px solid #ccc;
}

.my-address {
    margin: 20px 0px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.03);
}

.my-address .form-row {
    margin-left: 10px;
}

#addAddress {
    margin-bottom: 15px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}
.message-info {
    margin: 20px;
}

/*CART*/
.container-cart {
    padding-left: 10%;
    padding-right: 10%;
}

.title-cart {
    font-size: 30px;
    margin-top: 35px;
    font-weight: 400 !important;
}

.product-image-cart {
    width: 70px;
    height: 70px;
}

.total-container {
    margin: 40px 0px;
}

.total-container h4 {
    font-size: 1.5rem;
    margin: 50px 0px 25px 15%;
}

.total-container button {
    font-size: 1.1rem;
    padding: 10px 20px;
    margin-left: 15%;
    width: 80%;
}

.total-container p {
    font-size: 1.3rem;
    margin-left: 15%;
}

.input-group input[type="number"] {
    max-width: 70px;
    text-align: center;
}

.table-cart table td {
    border: none !important;
    padding: 25px 0px 25px 25px;
    border-bottom: 1px solid #e4e3e3 !important;
}

.table-cart table thead tr th {
    border: none !important;
}
