:root {
    --cor-back1: #7c9fff;
    --cor-back2: #8ba6ff;
}

.footer {
    position: relative;
    background: -webkit-linear-gradient(left, #f8f8f8, #f3f3f3);
    color: #333333;
    text-align: center;
    z-index: 1000;
    margin-top: 10px;
    min-height: 600px;
}

.footer .col {
    border-right: 1px solid #707070;
    padding: 0 20px;
}

.footer .col:last-child {
    border-right: none;
}

.footer h5 {
    color: #272727 !important;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.footer p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

.footer form {
    margin-bottom: 20px;
}

.footer .btn-primary {
    border-radius: 0;
}

.border-right {
    border-right: 1px solid #5a5a5a;
}

.text-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.newsletter {
    border-bottom: 1px solid #e7e7e7;
    background: -webkit-linear-gradient(left, #e2e2e2, #d8d8d8);
    width: 100%;
    color: #333333;
    padding: 10px 0;
    margin-top: 0;
}

.newsletter-title {
    margin-top: 10px;
}

.container {
    max-width: 100%;
}

.container .logo {
    padding: 25px;
}

.container .title {
    text-align: center;
    margin: 20px 0px 40px 0px;
    padding: 20px;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #f7f7f7, #fafafa);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 0 3px white;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    background-color: #f8f9fa;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0;
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.categories {
    border-top: 1px solid #f1f1f1;
    background: -webkit-linear-gradient(left, #eeeeee, #e7e7e7);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.product-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    border: none;
    min-height: 500px;
    margin-bottom: 25px;
    padding: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 0px 0px 3px white;
}

@media (max-width: 1440px) {
    .product-card {
        min-height: 300px;
    }
}

.product-card .card-body {
    padding: 1rem;
    height: 100%;
}

.product-card img {
    width: 90%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}

.product-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home-banner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 400px;
    max-height: 100%;
}

/* Estilizando os inputs */
.form-control {
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
    background-color: #f0f0f0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.form-control:focus {
    outline: none;
    background-color: #e7e7e7;
}

.form-control::placeholder {
    color: #999;
}

.btn {
    border-radius: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background: -webkit-linear-gradient(left, #eeeeee, #e7e7e7);
    color: #2c2c2c;
}
.btn-outline-success {
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: #272727;
}
.carousel-control-next,
.carousel-control-prev {
    width: 3%;
}

.menu-categories {
    background: -webkit-linear-gradient(left, #eeeeee, #e7e7e7);
}
.menu-categories .navbar-nav .nav-link {
    color: #333;
}

.menu-categories .nav-item.dropdown .dropdown-menu {
    background: -webkit-linear-gradient(left, #eeeeee, #e7e7e7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}

.menu-categories .dropdown-menu .dropdown-item {
    padding: 10px 20px;
    font-size: 14px;
    color: #333;
    transition: background-color 0.3s;
    cursor: pointer;
}

.menu-categories .dropdown-menu .dropdown-item:hover {
    background-color: #4e4e4e;
}

.menu-categories .navbar-nav .nav-link.dropdown-toggle::after {
    display: none;
}

.menu-categories .nav-item.dropdown:hover .dropdown-menu.menu-categories {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
}

.menu-categories .dropdown-menu.menu-categories {
    background: -webkit-linear-gradient(left, #eeeeee, #e7e7e7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 10px 0;
    width: auto;
    display: none;
    position: absolute;
}

.menu-categories .dropdown-menu.menu-categories .dropdown-item {
    padding: 10px 20px;
    font-size: 14px;
    color: #333;
    transition: background-color 0.3s;
}

.menu-categories .dropdown-menu.menu-categories .dropdown-item:hover {
    background: -webkit-linear-gradient(left, #eeeeee, #e7e7e7);
}

.menu-categories .dropdown-menu.subcategories {
    background: -webkit-linear-gradient(left, #eeeeee, #e7e7e7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 10px 0;
    margin-left: -15px;
    top: 0;
    left: 100%;
}

h1 {
    text-align: left;
}

.product-content {
    padding-left: 10%;
    padding-right: 10%;
}

.description-images .product-image {
    width: 80%;
}

.imgs-thumbnail {
    margin-left: 5px;
}

.description-images .img-thumbnail {
    width: 100px;
    height: 100px;
}

.description-data {
    padding: 50px;
    font-size: 18px;
}

.description-data .stock-options {
    font-size: 15px;
}

.description-price {
    color: #0baf41;
    font-size: 2.2rem;
    margin-bottom: 30px;
}

.product-description {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 50px 0px 50px 0px;
}

.stock-options {
    margin-top: 75px;
}

.stock-options h3 {
    font-size: 1.2rem;
}

.stock-option {
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    width: 70%;
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.1);
}

.option-name {
    font-weight: bold;
}

.stock-label {
    padding: 2px 0px 2px 15px;
}

.sub-options {
    display: none;
    margin-bottom: 15px;
    width: 70%;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
}

.sub-option {
    margin-left: 20px;
}

.stock-options .sub-options {
    display: none;
}

.description-btn {
    margin-top: 30px;
}
